{% extends "base.html" %}

{% block content %}

<div class="edit-container">
    <h2>Edit Skill</h2>
    <form id="editSkillForm" method="POST">
        <label for="skill_name">Skill:</label>
        <input type="text" id="skill_name" name="skill_name" value="{{ skill.skill_name }}">
        <label for="experience">Experience:</label>
        <input type="text" id="experience" name="experience" value="{{ skill.experience }}">
        <div>
            <label for="item-input">Add Skills:</label>
            <input type="text" class="input-box" id="item-input" oninput="updateDropDown(this.value)">
            <div id="suggested-items-container"></div>
            <div id="selected-items-wrapper">
                <div id="selected-items-container"></div>
            </div>
        </div>
        <button type="submit">Save</button>
    </form>
</div>

<script>
    const items = JSON.parse('{{ skills | safe }}');
    let selectedItems = {{ skill.skills | tojson }}; // Set initial value to the selected skills

    displaySelectedItems();

    // Attach the oninput event to the input element
    document.getElementById("item-input").addEventListener("input", function () {
        updateDropDown(this.value);
    });

    function updateDropDown(enteredText) {
        const suggestedItemsContainer = document.getElementById("suggested-items-container");
        if (enteredText) {
            // If the user has typed something, show the suggested items and update the options
            suggestedItemsContainer.style.display = "block";
            updateSuggestedItems(enteredText);
        } else {
            // If the user has cleared the input, hide the suggested items
            suggestedItemsContainer.style.display = "none";
        }
    }

    function updateSuggestedItems(enteredText) {
        const suggestedItemsContainer = document.getElementById("suggested-items-container");
        const filteredItems = items.filter(item => item.toLowerCase().includes(enteredText.toLowerCase()));
        const maxSuggestions = 3; // Limit the suggestions to 3
        const optionsHTML = filteredItems.slice(0, maxSuggestions).map(item => {
            return `<div class="suggested-item" onclick="addItemToSelectedItems('${item}')">${item}</div>`;
        }).join('');
        suggestedItemsContainer.innerHTML = optionsHTML;
    }

    function addItemToSelectedItems(item) {
        // Add the item to the selectedItems array
        selectedItems.push(item);
        // Clear the input
        document.getElementById("item-input").value = "";
        // Hide the suggested items
        const suggestedItemsContainer = document.getElementById("suggested-items-container");
        suggestedItemsContainer.style.display = "none";
        // Display the selected items
        displaySelectedItems();
    }

    function displaySelectedItems() {
        const selectedItemsContainer = document.getElementById("selected-items-container");
        selectedItemsContainer.innerHTML = selectedItems.map(item => `
            <div class="selected-item">
                <button class="remove-item-button" id='removeItemButton' onclick="removeItem('${item}')">x</button>
                <span>${item}</span>
            </div>
        `).join('');
    }

    function removeItem(item) {
        // Remove the item from the selectedItems array
        selectedItems = selectedItems.filter(selectedItem => selectedItem !== item);
        // Display the updated list of selected items
        displaySelectedItems();
    }

    // Wait for the form to be submitted
    document.getElementById("editSkillForm").addEventListener("submit", function (event) {
        // Prevent the form from submitting normally
        event.preventDefault();

        // Get the form data
        const skillName = document.getElementById('skill_name').value;
        const experience = document.getElementById('experience').value;
        const formData = { skill_name: skillName, experience: experience, skills: selectedItems };

        // Send an AJAX POST request to update the skill
        fetch(`/edit_skills?index={{ index }}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => {
            if (response.ok) {
                // Skill updated successfully, refresh the page
                window.location.href = "/skills";
            } else {
                // Failed to update skill, show an error message
                console.error("Failed to update skill.");
            }
        })
        .catch(error => {
            console.error("Error while updating skill:", error);
        });
    });

</script>

{% endblock %}
