<!-- contacts.html -->
{% extends "base.html" %}

{% block content %}
    <div class="table-container">
    <h2 class="page-header">Contacts</h2>
   
    <form class="data-form" style="display: none;">
        <input type="text" id="job-input" placeholder="Enter a job">
        <button type="submit">Save</button>
    </form>
    
    <table class="data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Title</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="input-box" placeholder="Name"></td>
                <td><input type="text" class="input-box" placeholder="Company"></td>
                <td><input type="text" class="input-box" placeholder="Job Title"></td>
                <td><input type="text" class="input-box" placeholder="Phone"></td>
                <td><input type="text" class="input-box" placeholder="Email"></td>
            </tr>
            <!-- Add more job rows here -->
        </tbody>
    </table>
    <div>
        <td><button class="save-button" onclick="refreshPage()">Save</button></td>
        <td><button class="cancel-button" onclick="refreshPage()">Cancel</button></td>
    </div>

    </div>

    <script>
    function refreshPage() {
        window.location.href = "{{ url_for('contacts') }}";
    }
    </script>
    
{% endblock %}
