<!DOCTYPE html>
<html>
<head>
  <title>Job Tracker - Login</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

  <div class="container">

    <header>
      <h1>Job Tracker</h1> 
    </header>

    <main>
    
      <h2 id="login-heading">Login</h2>
      
      <form>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">  
        <button type="submit">Log In</button>
      </form>

    </main>

  </div>

</body>
</html>