<!-- jobs.html -->
{% extends "base.html" %}

{% block content %}
    <div class="table-container">
    <h2 class="page-header">Jobs</h2>

    <form class="data-form" style="display: none;">
        <input type="text" id="job-input" placeholder="Enter a job">
        <button type="submit">Save</button>
    </form>

    <table class="data-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Salary</th>
                <th>Skills</th>
                <th>Start Date</th>
                <th>Contact</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Software Developer</td>
                <td>$80,000</td>
                <td>Python, JavaScript, HTML, CSS</td>
                <td>2022-01-01</td>
                <td>John Doe</td>
                <td><button class="edit-button">Edit</button></td>
                <td><button class="delete-button">Delete</button></td>
            </tr>
            <tr>
                <td>Data Analyst</td>
                <td>$60,000</td>
                <td>SQL, Excel, Statistics</td>
                <td>2022-02-15</td>
                <td>Jane Smith</td>
                <td><button class="edit-button">Edit</button></td>
                <td><button class="delete-button">Delete</button></td>
            </tr>
        <!-- Add more job rows here -->
        </tbody>
    </table>

    <div class="add-container">
        <h3>Add Job</h3>
        <button class="add-data-button">+</button>
    </div>
    </div>

{% endblock %}


