<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    
    <!-- Add CSS styles if needed -->
</head>
<body>
    <h1>Login</h1>
    <!-- Add the following section to display an error message -->
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post" action="/login">
        <!-- Add your login form fields (e.g., username, password) here -->
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="Login">
    </form>


    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
        data-client_id="129234542490-meodoecpke86mcs86fgt6r7nen2d0s2c.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="redirect"
        data-login_uri="Http://localhost:8080/login"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
    </div>
    
</body>
</html>
