<!-- skills.html -->
{% extends "base.html" %}

{% block content %}
    <div class="table-container">
    <h2 class="page-header">Skills</h2>
   
    <form class="data-form" style="display: none;">
        <input type="text" id="job-input" placeholder="Enter a job">
        <button type="submit">Save</button>
    </form>
    
    <table class="data-table">
        <thead>
            <tr>
                <th>Skill</th>
                <th>Required Jobs</th>
                <th>Contact</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pogo Sticking</td>
                <td>Enron</td>
                <td>Ron Trompson</td>
                <td><button class="edit-button">Edit</button></td>
                <td><button class="delete-button">Delete</button></td>
            </tr>
            <tr>
                <td>Data Analytics</td>
                <td>North Korean Stock Exchange</td>
                <td>Bill Johnson</td>
                <td><button class="edit-button">Edit</button></td>
                <td><button class="delete-button">Delete</button></td>
            </tr>
            <!-- Add more job rows here -->
        </tbody>
    </table>
    
    <div class="add-container">
        <h3>Add Skill</h3>
        <button class="add-data-button">+</button>
    </div>
    </div>

{% endblock %}
